@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark mode variables */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@layer base {

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased;
  }

  section[id] {
    @apply scroll-mt-80;
  }
}
