---
import Layout from "../layouts/Layout.astro";
import { Hero } from "../components/sections/Hero";
import { Education } from "../components/sections/Education";
import { Work } from "../components/sections/Work";
import Separator from "../components/ui/Separator";
import { GithubCalendar } from "../components/ui/GithubGraph";

const title = "Mohamed Yessine Bouajila - Portfolio";
const description = "Full-Stack Developer & Product Manager";
---

<Layout title={title} description={description}>
  <main class="min-h-dvh max-w-3xl mx-auto px-6">
    <Hero client:load />
    <Work client:visible />
    <Separator variant="section" client:visible />
    <Education client:visible />
    <Separator variant="section" client:visible />
    <GithubCalendar client:visible />
  </main>
  
</Layout>
